<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <label>Name Server</label>
            <input type="text" class="form-control" value="{{serverLoaded.serverName}}">
            <label>Status</label>
            <select name="" id="" class="form-control" value="{{serverLoaded.status}}" #statusValue>
                <option value="online">Online</option>
                <option value="offline">Offline</option>
            </select>
            
            <button class="btn btn-primary" (click)="select()">Update Server</button>
        </div>
    </div>
</div>